<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Piattaforma in ASP.NET Core per la gestione di budget a livello familiare</p>
    <p><a asp-controller="Spese" asp-action="Index" class="btn btn-success">Visualizza le spese <i class="fas fa-angle-right"></i></a></p>
</div>